body{
background-color:white;
padding:0;
}

.header{
background-color : orange;
}

.title{
text-align : center;
height : 90px;
font-size: 65px;
font-family : Comic Sans MS, Comic Sans, cursive;
color : yellow;
}

/* Query Box */

.q{
text-align :center;
}

.q_text{
font-size:35px;
}

.box_inputs{
font-size:28px;
border-radius:9px;
background-color: orange;
}

.box_deg{
font-size:28px;
border-radius:9px;
background-color: orange;
}

.check_btn{
font-size:28px;
font-weight: bolder;
border-radius:10px;
color: white;
background-color: orange ;
}

/*  Reorts loop  */

.r_text{
text-align:center;
font-size:25px;
}

.q_pre{
text-align:left;
font-size:25px;
}

.r_name{
color:red;
font-size:35px;
font-family: Arial Narrow;
position:relative;
left:500px;
}

.line_break{
width: 1500px;
height:5px;
background-color:black;
position:relative;
top:-200px;
}

.temp_grid{
padding:0px;

}

.r_temp{
font-size:25px;
position:relative;
left:500px;
}

.r_feel{
font-size:25px;
position:relative;
left:900px;
top:-53px;
}

.r_min{
font-size:25px;
position:relative;
left:500px;
top:-63px;
}

.r_max{
font-size:25px;
position:relative;
left:900px;
top:-116px;
}

.r_wind{
font-size:25px;
position:relative;
left:500px;
top:-125px;
}

.r_sky{
font-size:25px;
position:relative;
left:900px;
top:-180px;
}

.r_rise{
font-size:25px;
position:relative;
left:500px;
top:-183px;
}

.r_set{
font-size:25px;
position:relative;
left:900px;
top:-233px;
}






