{% extends 'layout.html'%}

{% block head%}
<link rel="stylesheet" type="text/css" href="static/style.css">
    {% endblock head %}

{% block body %}
<div class = 'header'>
<h1 class="title">
    Weather App
</h1>
</div>
    <form  method = 'post'>
        <div class="q">
            <br><br>
            <label class = 'input_names'>Enter City Name :</label>
            <input type="text", placeholder="City name", class = 'box_inputs', name = 'query'>
                <select class = 'Temp' name = 'deg' autofocus>
                    <option value='0' >°C</option>
                    <option value='1' >°F</option>
                </select>
            <button class="check_btn" >Check</button>
        </div>

        <div>
            <h2 class="q_title">{{reports[0][0].title()}}</h2>
            {% if text%}
                {{text}}
            {%endif%}
            <br>{{reports[0][1][deg][0]}}{{reports[0][1][deg][1]}}
            <br>{{reports[0][2]}}
            <br>{{reports[0][3]}}
            <br>{{reports[0][4]}}
        </div>

        <br><br>{{reports[0]}}


    </form>
    {% endblock %}