{% extends 'layout.html'%}

{% block head%}
<link rel="stylesheet" type="text/css" href="static/style.css">
    {% endblock head %}

{% block body %}
<div class = 'header'>
<h1 class="title">
    Weather App
</h1>
</div>
    <form  method = 'post'>
        <div class="q">
            <br><br>
            <label class = 'input_names'>Enter City Name :</label>
            <input type="text", placeholder="City name", class = 'box_inputs', name = 'city_name'>
            <button class="check_btn" >Check</button>
        </div>
        <div>
            <label  class='input_names'> Temp :</label>
            <select class = 'Temp' name = 'temp_select'>
                <option value='0' selected>°C</option>
                <option value='1' >°F</option>
            </select>
            <button type="submit" class="check_btn">Go</button>
        </div>
        <div>
            {% if text%}
            <h1 class="error">{{text}}</h1>
            {% endif %}

        {% if report%}
           <h2 > Temperatuer :{{report[0][0][0]}}{{report[0][0][1]}} </h2>
            {{type1}}
        {% endif%}

        </div>
    </form>
    {% endblock %}